body {
  font-family: Arial;
  margin: 0;
  background: #f8f6ff;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: white;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: #6a0dad;
}

.hero {
  text-align: center;
  padding: 80px;
  background: linear-gradient(135deg, #6a0dad, #ff7a00);
  color: white;
}

button {
  padding: 12px 20px;
  background: orange;
  border: none;
  color: white;
  cursor: pointer;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}
